# Charger le jeu de données Iris

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv("supports/dataset/iris.csv")
print(df.columns)
df.describe() # species n'est pas dans la description (variable qualitative)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
import pandas as pd

In [9]:
df.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

## solutions

In [10]:
df.species.nunique() # nombre de classes (espèces) = 3
print(df.shape) # 150 individus (relativement peu)
print(df.groupby('species')['species'].count()) # solution 1 avec groupby()
print(df.species.value_counts()) # solution 2 (plus simple) avec value_counts()
# 50 individus par classe... pas si mal (et pas de déséquilibre)

(150, 5)
species
setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64
virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64